.section{
    margin-top: 15%;
    padding: 1em;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    border: 1px solid #7851a9 !important;
    border-radius: 8px;
    padding: 1em;
    width: 46vw;
    margin: 3% 2% 0 0;
}
h3 {
    color: #7851a9 !important;
    margin-bottom: 5% !important;
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }   
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .card {
    width: 45vw;
   } 
   .section {
    margin-top: 20%;
   }
}