.background {
  margin-top: 5%;
  height: 50vh;
  width: 100%;
}
h2{
  font-size: 48px !important;
  text-align: center;
  margin-top: -15% !important;
  color: #ffffff !important;
}
.section img{
  height: 100vh;
  margin-left: 35%;
}
.text {
  width: 50vw;
  margin: 5% 0 0 30%;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .background {
    height: 20vh;
  }
  h2{
    margin-top: -25% !important;
  }
  .section img{
    width: 90vw;
    margin-left: 0;
    height: 70vh;
  }
  .text {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .background {
    height: 30vh;
  }
  h2{
    margin-top: -25% !important;
  }
  .section img {
    margin: 10% 0 0 0;
  }
  .text {
    width: 100%;
    margin-left: 0;
  }
}