.background {
  margin-top: 10%;
  height: 50vh;
  width: 100%;
}
h2{
  font-size: 48px;
  text-align: center;
  margin-top: -15%;
  color: #ffffff;
}
.card{
    position: absolute;
    margin: 10% 0 0 10%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.card img{
    height: 60vh;
}
.text {
  margin-left: 10%;
}

.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  h2{
    font-size: 45px;
  }
    .links{
      flex-direction: column;
    }
    .purple{
      width: 30vw;
    }
    .card{
      margin: 40% 0 0 -5%;
      flex-direction: column;
    }
    .card img{
      width: 90vw;
    }
    p{
      font-size: 13px;
      line-height: 1.7;
    }
  }