.video{
    width: 100%;
    height: 30%;
    position: absolute;
  }
.nav-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
}
.card{
    position: absolute;
    margin: 18% 0 0 10%;
    padding: 2em;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 48px;
}
.card img{
    width: 20vw;
    height: 40vh;
}

@media screen and (max-width: 767px) {
  h2{
    font-size: 45px;
  }
    .links{
      flex-direction: column;
    }
    .purple{
      width: 30vw;
    }
    .card{
      margin: 40% 0 0 -5%;
      flex-direction: column;
    }
    .card img{
      width: 90vw;
    }
    p{
      font-size: 13px;
      line-height: 1.7;
    }
  }