.background {
  margin-top: 5%;
  height: 50vh;
  width: 100%;
}
h2{
  font-size: 48px !important;
  text-align: center;
  margin-top: -15% !important;
  color: #ffffff !important;
}
.section img{
  height: 100vh;
  margin-left: 35%;
}
.text {
  width: 50vw;
  margin: 5% 0 0 30%;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  h2{
    font-size: 45px;
  }
    .links{
      flex-direction: column;
    }
    .purple{
      width: 30vw;
    }
    .card{
      margin: 40% 0 0 -5%;
      flex-direction: column;
    }
    .card img{
      width: 90vw;
    }
    p{
      font-size: 13px;
      line-height: 1.7;
    }
  }