.home{
    width: 100vw;
    position: relative;
  }
  .hero {
    height: 100vh;
    width: 100%;
    position: relative;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    color: #f5f5f5;
    padding: 1em;
    box-sizing: border-box;
  }
  button{
    border: none;
    border-radius: 5px !important;
    height: 6vh;
    width: 12vw;
    color: #ffffff;
    cursor: pointer;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .purple{
    background: #7851a9;
  }
  .mission {
    padding: 1em;
  }
  strong{
    font-size: 22px;
  }

  
@media screen and (max-width: 767px) {
  .content{
      margin-left: 0;
      font-size: 20px;
  }
  .purple{
      width: 70vw;
      height: 8vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .purple {
    width: 30vw;
  }
}