.home{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden
  }
  .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    color: #f5f5f5;
  }
  button{
    border: none;
    border-radius: 50px;
    height: 6vh;
    width: 12vw;
    color: #ffffff;
    padding: 1em;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .purple{
    background: #7851a9;
  }

  
@media screen and (max-width: 767px) {
  .content{
      margin-left: 3%;
  }
}