.h2{
    position: absolute;
    margin: 18% 0 0 40%;
    font-size: 56px;
}
.carousel {
    margin: 15% 0 5% 3%;
    width: 90%;
}
.carousel img {
    margin-left: 6%;
    /* width: 100%;
    height: 100vh; */
}
@media screen and (max-width: 767px) {
    .h2{
        margin: 60% 0 0 20%;
    }
    .carousel img {
        height: 50vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel {
        margin-top: 25%;
    }
    .carousel img {
        height: 60vh;
    }
}