.h2{
    position: absolute;
    margin: 18% 0 0 40%;
    font-size: 56px;
}
.carousel {
    margin: 15% 0 0 10%;
}
.carousel img {
    height: 120vh;
    margin-bottom: 5%;
}
@media screen and (max-width: 767px) {
    .h2{
        margin: 60% 0 0 20%;
    }
  }