body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .links{
    flex-direction: column;
    margin-right: 10%;
  }
  .purple{
    width: 50vw;
  }
}