.nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    padding: 1em !important;
    width: 100vw;
    background-color: #ffffff;
}
.navbar-collapse{
    margin-left: 45%;
}
.nav-link{
    color: #000000;
    text-decoration: none;
    padding: 0 1.5em;
    margin-top: 5%;
}
.link:hover, .link:active{
    color: #7851a9;
}

@media screen and (max-width: 767px) {
    .navbar-toggler {
        height: 8vh;
        width: 15vw;
    }
}