.nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    padding: 1em !important;
    width: 100vw;
    background-color: #ffffff;
}
.deosol{
   height: 10vh;
}
.links{
    display: flex;
    justify-content: space-between;
}
.link{
    color: #000000;
    text-decoration: none;
    padding-left: 1em;
    margin-top: 5%;
}
.link:hover, .link:active{
    color: #7851a9;
}